* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #3882f6;
}

a.header-link {
    color: #e5e7eb;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 32px;
    border-radius: 7px;
    width: auto;
    flex-shrink: 0;
    cursor: pointer;
}

/* header */
.header-container {
    background-color: #1f2937;
    /* padding: top | right | bottom | left; */
    padding: 16px 300px;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 25px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 200px 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-message {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-message-desc {
    font-size: 18px;
    color: #e5e7eb;
}

.header-image {
    width: 50%;
    flex-shrink: 0;
}

/* information */
.info-container {
    /* padding: top | right | bottom | left; */
    padding: 0 0 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 64px 0;
}

.info {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
}

.info-card {
    width: 150px;
    text-align: center;
    color: #555;
}

.image-placeholder {
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
    /* temporary text color */
    color: #fff;
}

/* quote */
.quote-container {
    background-color: #e5e7eb;
    /* padding: top/bottom | left/right; */
    padding: 200px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-weight: 500;
    align-self: flex-end;
    font-size: 24px;
}

/* CTA */
.cta-container {
    /* padding: top | right | bottom | left; */
    padding: 100px 0 100px 0;
    display: flex;
    justify-content: center;
}

.cta {
    width: 1150px;
    margin: 0 auto;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
}

.cta-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.cta-desc {
    font-weight: 400 !important;
    font-size: 18px !important;
}

.cta-button-signup {
    border: 2px solid #f9faf8;
    height: auto;
}

/* footer */
.footer-container {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 32px 0;
    text-align: center;
}